.container {
    margin-left: 10px;
}

.list-group {
    width: 100px;
    margin-top: 20px;
    margin-left: -5px;
}

.onas {
    margin-left: 100px;
}

.footer-nav {
    margin-top: 50px;
    height: 200px;
    color: white;
    background-color: rgb(70, 69, 69);
    font-family: "Poppins", sans-serif;
}

.list {
    margin-top: 20px;
}

.main-img {
    margin-top: 30px;
}